.genre-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
}

.genre-card {
  background-color: #111010f0;
  color: white;
  border-radius: 1px;
  border: 8px solid #6edc43; 
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease-in-out;
  border-style: dashed;
}

.genre-card img {
  margin-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
}


.genre-card > div {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.genre-card > div > a {
  color: #64d550;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.genre-card > div > p {
  color: #A5A5A5;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

.genre-card > div > ul {
  margin: 100px;
  padding: 50px;
  list-style: none;
}

.genre-card > div > ul > li {
  font-size: 14px;
  margin-bottom: 10px;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: auto;
  max-width: 100%;
}
